body {
  zoom: 0.8;
  background-image: url("images/back.jpg");
  overflow-x: hidden;
  overflow-y: hidden;
}
.father {
  width: 1366px;
  height: 625px;
}
h2 {
  margin-left: 50px;
  margin-top: 50px;
  font-size: 30px;
}
#btn {
  width: 120px;
  height: 25px;
  border-radius: 8px;
  transition-duration: 0.4s;
}
#btn:hover {
  background-color: #4caf50;
  color: white;
}
.timer {
  font-weight: bold;
  font-size: 30px;
  font-style: italic;
  margin-left: 130px;
  margin-top: 3vh;
}
#imgcont {
  display: flex;
  justify-content: space-around;
  width: 50vh;
  height: 50px;
}
.images {
  width: 50px;
  height: 50px;
}
.invisible {
  display: none;
}
.Moving {
  position: absolute;
}
#scorecont {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: center;
  justify-content: space-around;
  width: 50vh;
  height: 30px;
  background-color: #e03a2eaf;
  border-radius: 20px;
}
.score {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: bold;
}
#boxcont {
  display: inline-block;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.box {
  opacity: 50%;
  width: 500px;
  height: 500px;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
}
#movecont {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  position: static;
}
.still {
  position: absolute;
}

.dead {
  display: none;
}
